<div class="featured-products home-container">
  <h2>PRODUCTS RELATED TO THIS ITEM</h2>
  <swiper [config]="config" class="featured-swiper">
    <ng-template swiperSlide>
      <div class="slider slide">
        <div class="all-prod">
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
         
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slider slide">
        <div class="all-prod">
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
         
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
        </div>
      </div>
    </ng-template>
  </swiper>

  
</div>
