<ngb-accordion #acc="ngbAccordion"  class="filter-accordion">
  <ngb-panel title="Simple Select Groups">
    <ng-template ngbPanelContent>
      <select class="custom-select form-select" >
        <option value="cheese" selected>Cheese</option>
        <option value="tomatoes">Tomatoes</option>
        <option value="mozarella">Mozzarella</option>
        <option value="mushrooms">Mushrooms</option>
        <option value="pepperoni">Pepperoni</option>
        <option value="onions">Onions</option>
     </select>

    </ng-template>
  </ngb-panel>
</ngb-accordion>