<div class="reviews-ctn home-container">
  <div class="reviews-ctn-inner">
    <h2>Reviews</h2>

    <div class="reviews">
      <div class="reviews-left">
        <h3>Excellent</h3>

        <div class="rating-stars">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>

        <p>Based on 185 reviews</p>

        <img src="/assets/images/excellent.png" alt="" srcset="" />
      </div>
      <div class="reviews-right">
        <swiper [config]="config" class="my-swiper">
          <ng-template swiperSlide
            ><div class="review-box">
              <h4>Nick Marcy</h4>
              <h6>Great Service & prodct</h6>
              <p>
                It is a long established fact tha a readerwill be distracted by
                the readable content
              </p>

              <div class="rating-stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>

              <p>12/03/2022</p>
            </div>
          </ng-template>
          <ng-template swiperSlide
            ><div class="review-box">
              <h4>John Marcy</h4>
              <h6>Great Service & prodct</h6>
              <p>
                It is a long established fact tha a readerwill be distracted by
                the readable content
              </p>

              <div class="rating-stars">
                <span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span>
              </div>

              <p>12/03/2022</p>
            </div>
          </ng-template>
          <ng-template swiperSlide
            ><div class="review-box">
              <h4>Nick Nina</h4>
              <h6>Great Service & prodct</h6>
              <p>
                It is a long established fact tha a readerwill be distracted by
                the readable content
              </p>

              <div class="rating-stars">
                <span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span>
              </div>

              <p>12/03/2022</p>
            </div>
          </ng-template>
          <ng-template swiperSlide
            ><div class="review-box">
              <h4>Nick John</h4>
              <h6>Great Service & prodct</h6>
              <p>
                It is a long established fact tha a readerwill be distracted by
                the readable content
              </p>

              <div class="rating-stars">
                <span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span>
              </div>

              <p>12/03/2022</p>
            </div>
          </ng-template>
          <ng-template swiperSlide
            ><div class="review-box">
              <h4>Tom Cruise</h4>
              <h6>Great Service & prodct</h6>
              <p>
                It is a long established fact tha a readerwill be distracted by
                the readable content
              </p>

              <div class="rating-stars">
                <span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span>
              </div>

              <p>12/03/2022</p>
            </div>
          </ng-template>
          <ng-template swiperSlide
            ><div class="review-box">
              <h4>Brad Pitt</h4>
              <h6>Great Service & prodct</h6>
              <p>
                It is a long established fact tha a readerwill be distracted by
                the readable content
              </p>

              <div class="rating-stars">
                <span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span>
              </div>

              <p>12/03/2022</p>
            </div>
          </ng-template>
          <ng-template swiperSlide
            ><div class="review-box">
              <h4>Harry Styles</h4>
              <h6>Great Service & prodct</h6>
              <p>
                It is a long established fact tha a readerwill be distracted by
                the readable content
              </p>

              <div class="rating-stars">
                <span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span>
              </div>

              <p>12/03/2022</p>
            </div>
          </ng-template>
          <ng-template swiperSlide
            ><div class="review-box">
              <h4>No way</h4>
              <h6>Great Service & prodct</h6>
              <p>
                It is a long established fact tha a readerwill be distracted by
                the readable content
              </p>

              <div class="rating-stars">
                <span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span
                ><span class="fa fa-star checked"></span>
              </div>

              <p>12/03/2022</p>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>
  </div>
</div>
