.hero-ctn .hero-slide {
  display: flex;
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
}

.hero-slide {
  background-image: url("/assets/images/slide-bg.jpg");
}

.hero-ctn .hero-slide > * {
  flex: 0 0 50%;
}

.hero-ctn .hero-slide .text-sect {
  margin-top: auto;
  margin-bottom: auto;
}

.hero-ctn .hero-slide .text-sect h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 900;
}

.hero-ctn .hero-slide .text-sect h2 {
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
}

.hero-ctn .hero-slide .img-sect {
  text-align: center;
}

.hero-ctn .hero-slide .img-sect img {
  width: 450px;
  margin: 30px 0px;
}

.hero-ctn .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.hero-ctn .services .service-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero-ctn .services .service-box img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 15px;
}

.hero-ctn .services .service-box h5 {
  color: var(--link-color);
  margin-bottom: 0px;
  font-size: 16px;
}

.hero-ctn .services .service-box p {
  color: var(--black);
  font-size: 14px;
  margin-bottom: 0;
}

.hero-ctn .hero-slide a.mob-cta {
  display: none;
}

@media (max-width: 480px) {
  .hero-ctn .hero-slide {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hero-slide {
    background-image: url("/assets/images/slide-bg-m.png");
  }

  .hero-ctn .services {
    flex-wrap: wrap;
  }
  .hero-ctn .services .service-box {
    justify-content: start;
  }
  .hero-ctn .services > * {
    flex: 0 0 100%;
  }
  .hero-ctn .hero-slide .text-sect a {
    display: none;
  }

  .hero-ctn .hero-slide a.mob-cta {
    width: 100% !important;
    text-align: center !important;
    display: block;
  }
  .hero-ctn .hero-slide .img-sect img {
    width: 80%;
  }
}
