<div class="hero-ctn">
  <div class="hero-slide home-container slide1">
    <div class="text-sect">
      <h1>Build your own server</h1>
      <h2>Everything is Possible with MEG X570 Godlike</h2>
      <a href="#" class="cta-btn white">Shop Now</a>
    </div>
    <div></div>
  </div>
  <div class="services home-container">
    <div class="service-box">
      <div>
        <img src="/assets/images/bulb.png" alt="" srcset="" />
      </div>

      <div>
        <h5>Express Delivery</h5>
        <p>Within promised ETAs</p>
      </div>
    </div>

    <div class="service-box">
      <img src="/assets/images/industry.png" alt="" srcset="" />

      <div>
        <h5>Free Shipping</h5>
        <p>Over orders worth $50</p>
      </div>
    </div>

    <div class="service-box">
      <img src="/assets/images/chart.png" alt="" srcset="" />

      <div>
        <h5>Quality assured</h5>
        <p>Matching global standards</p>
      </div>
    </div>
  </div>
</div>
