<header class="header">
  <div class="logo-row home-container">
    <div class="logo">
      <img src="/assets/images/logo.jpg" alt="" />
    </div>
    <div class="search">
      <form action="#" id="search-form">
        <select name="category" id="s-category">
          <option value="volvo">All</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
        <input
          type="text"
          name="searchtext"
          id="s-text"
          placeholder="Search for product..."
        />
      </form>
    </div>
    <div class="cart-icons">
      <div class="contact">
        <a href="#">
          <img src="/assets/images/contact.svg" />
          <p>Contact Us</p>
        </a>
      </div>
      <div class="cart">
        <a href="#">
          <img src="/assets/images/cart.svg" />
          <p>Cart</p>
        </a>
      </div>
      <div class="login">
        <a href="#">
          <img src="/assets/images/login.svg" />
          <p>Login</p>
        </a>
      </div>
      <div class="menu">
        <a (click)="openMenu()">
          <img src="/assets/images/menu.svg" />
        </a>
      </div>
    </div>
  </div>
  <div class="top-menu home-container">
    <div class="menu-item-big"><a>Industries</a></div>
    <div class="menu-item-big"><a>Services</a></div>
    <div class="menu-item-big"><a>Resources</a></div>
    <div class="menu-item-big"><a>Account benefits</a></div>
    <div class="menu-item-big"><a>Hot Deals</a></div>
  </div>

  <div class="header-bottom home-container">
    <div class="bottom-menu">
      <ul class="custom-nav" [ngClass]="menuOpen ? 'display' : ''">
        <li class="drop-down">
          <a href="#">Memory &nbsp; <i class="fa fa-angle-down"></i></a>

          <ul class="drop-down-ul animated fadeIn">
            <li class="flyout-right">
              <a href="#"
                >Processor by Brands &nbsp; <i class="fa fa-angle-right"></i
              ></a>
              <div class="flyout-inner">
                <div class="inner-categs">
                  <p>Processor by Brands</p>
                  <ul class="animated fadeIn">
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">Computer</a></li>
                    <li><a href="#">Watch</a></li>
                  </ul>
                </div>
                <div class="featured-p">
                  <p>Popular Product</p>
                  <img src="/assets/images/memory.png" alt="" class="p-img" />
                  <p class="p-title">
                    WD8000A4NC - Western Digital Sharespace 8TB External Network
                    Drive (Refurbished)
                  </p>
                  <a href="#" class="cta-btn">Shop Now</a>
                </div>
              </div>
            </li>

            <li class="flyout-right">
              <a href="#"
                >Processor by Brands &nbsp; <i class="fa fa-angle-right"></i
              ></a>
              <div class="flyout-inner">
                <div class="inner-categs">
                  <p>Processor by Brands</p>
                  <ul class="animated fadeIn">
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">Computer</a></li>
                    <li><a href="#">Watch</a></li>
                  </ul>
                </div>
                <div class="featured-p">
                  <p>Popular Product</p>
                  <img src="/assets/images/memory.png" alt="" class="p-img" />
                  <p class="p-title">
                    WD8000A4NC - Western Digital Sharespace 8TB External Network
                    Drive (Refurbished)
                  </p>
                  <a href="#" class="cta-btn">Shop Now</a>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="drop-down">
          <a href="#">Processor &nbsp; <i class="fa fa-angle-down"></i></a>

          <ul class="drop-down-ul animated fadeIn">
            <li class="flyout-right">
              <a href="#"
                >Processor by Brands &nbsp; <i class="fa fa-angle-right"></i
              ></a>
              <div class="flyout-inner">
                <div class="inner-categs">
                  <p>Processor by Brands</p>
                  <ul class="animated fadeIn">
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">Computer</a></li>
                    <li><a href="#">Watch</a></li>
                  </ul>
                </div>
                <div class="featured-p">
                  <p>Popular Product</p>
                  <img src="/assets/images/memory.png" alt="" class="p-img" />
                  <p class="p-title">
                    WD8000A4NC - Western Digital Sharespace 8TB External Network
                    Drive (Refurbished)
                  </p>
                  <a href="#" class="cta-btn">Shop Now</a>
                </div>
              </div>
            </li>

            <li class="flyout-right">
              <a href="#"
                >Processor by Brands &nbsp; <i class="fa fa-angle-right"></i
              ></a>
              <div class="flyout-inner">
                <div class="inner-categs">
                  <p>Processor by Brands</p>
                  <ul class="animated fadeIn">
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">Computer</a></li>
                    <li><a href="#">Watch</a></li>
                  </ul>
                </div>
                <div class="featured-p">
                  <p>Popular Product</p>
                  <img src="/assets/images/memory.png" alt="" class="p-img" />
                  <p class="p-title">
                    WD8000A4NC - Western Digital Sharespace 8TB External Network
                    Drive (Refurbished)
                  </p>
                  <a href="#" class="cta-btn">Shop Now</a>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="drop-down">
          <a href="#"
            >Hard Drive / SSD &nbsp; <i class="fa fa-angle-down"></i
          ></a>

          <ul class="drop-down-ul animated fadeIn">
            <li class="flyout-right">
              <a href="#"
                >Processor by Brands &nbsp; <i class="fa fa-angle-right"></i
              ></a>
              <div class="flyout-inner">
                <div class="inner-categs">
                  <p>Processor by Brands</p>
                  <ul class="animated fadeIn">
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">Computer</a></li>
                    <li><a href="#">Watch</a></li>
                  </ul>
                </div>
                <div class="featured-p">
                  <p>Popular Product</p>
                  <img src="/assets/images/memory.png" alt="" class="p-img" />
                  <p class="p-title">
                    WD8000A4NC - Western Digital Sharespace 8TB External Network
                    Drive (Refurbished)
                  </p>
                  <a href="#" class="cta-btn">Shop Now</a>
                </div>
              </div>
            </li>

            <li class="flyout-right">
              <a href="#"
                >Processor by Brands &nbsp; <i class="fa fa-angle-right"></i
              ></a>
              <div class="flyout-inner">
                <div class="inner-categs">
                  <p>Processor by Brands</p>
                  <ul class="animated fadeIn">
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">Computer</a></li>
                    <li><a href="#">Watch</a></li>
                  </ul>
                </div>
                <div class="featured-p">
                  <p>Popular Product</p>
                  <img src="/assets/images/memory.png" alt="" class="p-img" />
                  <p class="p-title">
                    WD8000A4NC - Western Digital Sharespace 8TB External Network
                    Drive (Refurbished)
                  </p>
                  <a href="#" class="cta-btn">Shop Now</a>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="drop-down">
          <a href="#">Motherboard &nbsp; <i class="fa fa-angle-down"></i></a>

          <ul class="drop-down-ul animated fadeIn">
            <li class="flyout-left">
              <a href="#"
                ><i class="fa fa-angle-left">&nbsp;&nbsp;</i>Processor by Brands&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a
              >
              <div class="flyout-inner">
                <div class="inner-categs">
                  <p>Processor by Brands</p>
                  <ul class="animated fadeIn">
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">Computer</a></li>
                    <li><a href="#">Watch</a></li>
                  </ul>
                </div>
                <div class="featured-p">
                  <p>Popular Product</p>
                  <img src="/assets/images/memory.png" alt="" class="p-img" />
                  <p class="p-title">
                    WD8000A4NC - Western Digital Sharespace 8TB External Network
                    Drive (Refurbished)
                  </p>
                  <a href="#" class="cta-btn">Shop Now</a>
                </div>
              </div>
            </li>

            <li class="flyout-left">
              <a href="#"
                ><i class="fa fa-angle-left">&nbsp;&nbsp;</i>Processor by Brands&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a
              >
              <div class="flyout-inner">
                <div class="inner-categs">
                  <p>Processor by Brands</p>
                  <ul class="animated fadeIn">
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">Computer</a></li>
                    <li><a href="#">Watch</a></li>
                  </ul>
                </div>
                <div class="featured-p">
                  <p>Popular Product</p>
                  <img src="/assets/images/memory.png" alt="" class="p-img" />
                  <p class="p-title">
                    WD8000A4NC - Western Digital Sharespace 8TB External Network
                    Drive (Refurbished)
                  </p>
                  <a href="#" class="cta-btn">Shop Now</a>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="drop-down">
          <a href="#">Networking &nbsp; <i class="fa fa-angle-down"></i></a>

          <ul class="drop-down-ul animated fadeIn">
            <li class="flyout-left">
              <a href="#"
                ><i class="fa fa-angle-left">&nbsp;&nbsp;</i>Processor by Brands&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a
              >
              <div class="flyout-inner">
                <div class="inner-categs">
                  <p>Processor by Brands</p>
                  <ul class="animated fadeIn">
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">Computer</a></li>
                    <li><a href="#">Watch</a></li>
                  </ul>
                </div>
                <div class="featured-p">
                  <p>Popular Product</p>
                  <img src="/assets/images/memory.png" alt="" class="p-img" />
                  <p class="p-title">
                    WD8000A4NC - Western Digital Sharespace 8TB External Network
                    Drive (Refurbished)
                  </p>
                  <a href="#" class="cta-btn">Shop Now</a>
                </div>
              </div>
            </li>

            <li class="flyout-left">
              <a href="#"
                ><i class="fa fa-angle-left">&nbsp;&nbsp;</i>Processor by Brands&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a
              >
              <div class="flyout-inner">
                <div class="inner-categs">
                  <p>Processor by Brands</p>
                  <ul class="animated fadeIn">
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">Computer</a></li>
                    <li><a href="#">Watch</a></li>
                  </ul>
                </div>
                <div class="featured-p">
                  <p>Popular Product</p>
                  <img src="/assets/images/memory.png" alt="" class="p-img" />
                  <p class="p-title">
                    WD8000A4NC - Western Digital Sharespace 8TB External Network
                    Drive (Refurbished)
                  </p>
                  <a href="#" class="cta-btn">Shop Now</a>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="drop-down">
          <a href="#">Power Supplies &nbsp; <i class="fa fa-angle-down"></i></a>

          <ul class="drop-down-ul animated fadeIn">
            <li class="flyout-left">
              <a href="#"
                ><i class="fa fa-angle-left">&nbsp;&nbsp;</i>Processor by Brands&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a
              >
              <div class="flyout-inner">
                <div class="inner-categs">
                  <p>Processor by Brands</p>
                  <ul class="animated fadeIn">
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">Computer</a></li>
                    <li><a href="#">Watch</a></li>
                  </ul>
                </div>
                <div class="featured-p">
                  <p>Popular Product</p>
                  <img src="/assets/images/memory.png" alt="" class="p-img" />
                  <p class="p-title">
                    WD8000A4NC - Western Digital Sharespace 8TB External Network
                    Drive (Refurbished)
                  </p>
                  <a href="#" class="cta-btn">Shop Now</a>
                </div>
              </div>
            </li>

            <li class="flyout-left">
              <a href="#"
                ><i class="fa fa-angle-left">&nbsp;&nbsp;</i>Processor by Brands&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a
              >
              <div class="flyout-inner">
                <div class="inner-categs">
                  <p>Processor by Brands</p>
                  <ul class="animated fadeIn">
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">Computer</a></li>
                    <li><a href="#">Watch</a></li>
                  </ul>
                </div>
                <div class="featured-p">
                  <p>Popular Product</p>
                  <img src="/assets/images/memory.png" alt="" class="p-img" />
                  <p class="p-title">
                    WD8000A4NC - Western Digital Sharespace 8TB External Network
                    Drive (Refurbished)
                  </p>
                  <a href="#" class="cta-btn">Shop Now</a>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
