<header class="header">
  <div class="logo-row home-container">
    <div class="logo">
      <img src="/assets/images/logo.jpg" alt="" />
    </div>
    <div class="search">
      <form action="#" id="search-form">
        <select name="category" id="s-category">
          <option value="volvo">All</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
        <input
          type="text"
          name="searchtext"
          id="s-text"
          placeholder="Search for product..."
        />
      </form>
    </div>
    <div class="cart-icons">
      <div class="contact">
        <a href="#">
          <img src="/assets/images/contact.svg" />
          <p>Contact Us</p>
        </a>
      </div>
      <div class="cart">
        <a href="#">
          <img src="/assets/images/cart.svg" />
          <p>Cart</p>
        </a>
      </div>
      <div class="login">
        <a href="#">
          <img src="/assets/images/login.svg" />
          <p>Login</p>
        </a>
      </div>
      <div class="menu">
        <a href="#">
          <img src="/assets/images/menu.svg" />
        </a>
      </div>
    </div>
  </div>
  <div class="top-menu home-container">
    <div class="menu-item-big"><a>Industries</a></div>
    <div class="menu-item-big"><a>Services</a></div>
    <div class="menu-item-big"><a>Resources</a></div>
    <div class="menu-item-big"><a>Account benefits</a></div>
    <div class="menu-item-big"><a>Hot Deals</a></div>
  </div>
  
</header>
