.header .logo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo-row .logo {
  padding: 15px 0px;
}

.header .logo-row .logo img {
  width: 150px;
}


@media (max-width: 767px) {
  .header {
    margin-bottom: -65px;
  }
  .logo-row {
    flex-wrap: wrap;
  }
  .logo-row .logo {
    flex-basis: 50%;
    order: 1;
  }
  
}

