.bottom-menu .navbar-nav {
  width: 100% !important;
  justify-content: space-between;
}

.bottom-menu .nav-link {
  padding-left: 0;
}

.bottom-menu .nav-link {
  color: black;
}


.bottom-menu .navbar{
  padding: 0;
}