<div class="header-bottom home-container">
  <div class="bottom-menu">
    <!-- <nav class="navbar navbar-expand-md">
      <div class="container-fluid p-0">
        <button
          class="navbar-toggler"
          type="button"
          aria-controls="navbarContent"
          [attr.aria-expanded]="!collapsed"
          aria-label="Toggle navigation"
          (click)="collapsed = !collapsed"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="navbar-collapse"
          [class.collapse]="collapsed"
          id="navbarContent"
        >
          <ul class="navbar-nav">
            <li class="nav-item" ngbDropdown>
              <a
                class="nav-link"
                tabindex="0"
                ngbDropdownToggle
                id="navbarDropdown1"
                role="button"
              >
                Memory
              </a>
              <div
                ngbDropdownMenu
                aria-labelledby="navbarDropdown1"
                class="dropdown-menu"
              >
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                  >Action</a
                >

                <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                  >Another action</a
                >
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                  >Something else here</a
                >
              </div>
            </li>

            <li class="nav-item" ngbDropdown>
              <a
                class="nav-link"
                tabindex="0"
                ngbDropdownToggle
                id="navbarDropdown1"
                role="button"
              >
                Processor
              </a>
              <div
                ngbDropdownMenu
                aria-labelledby="navbarDropdown1"
                class="dropdown-menu"
              >
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                  >Action</a
                >
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                  >Another action</a
                >
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                  >Something else here</a
                >
              </div>
            </li>

            <li class="nav-item" ngbDropdown>
              <a
                class="nav-link"
                tabindex="0"
                ngbDropdownToggle
                id="navbarDropdown1"
                role="button"
              >
                Hard Drive / SSD
              </a>
              <div
                ngbDropdownMenu
                aria-labelledby="navbarDropdown1"
                class="dropdown-menu"
              >
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                  >Action</a
                >
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                  >Another action</a
                >
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                  >Something else here</a
                >
              </div>
            </li>

            <li class="nav-item" ngbDropdown>
              <a
                class="nav-link"
                tabindex="0"
                ngbDropdownToggle
                id="navbarDropdown1"
                role="button"
              >
                Motherboard
              </a>
              <div
                ngbDropdownMenu
                aria-labelledby="navbarDropdown1"
                class="dropdown-menu"
              >
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                  >Action</a
                >
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                  >Another action</a
                >
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                  >Something else here</a
                >
              </div>
            </li>

            <li class="nav-item" ngbDropdown>
              <a
                class="nav-link"
                tabindex="0"
                ngbDropdownToggle
                id="navbarDropdown1"
                role="button"
              >
                Networking
              </a>
              <div
                ngbDropdownMenu
                aria-labelledby="navbarDropdown1"
                class="dropdown-menu"
              >
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                  >Action</a
                >
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                  >Another action</a
                >
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
                  >Something else here</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->

    <ul class="custom-nav">
      <li class="drop-down">
        <a href="#">Memory &nbsp; <i class="fa fa-angle-down"></i></a>

        <ul class="drop-down-ul animated fadeIn">
          <li class="flyout-right">
            <a href="#"
              >Processor by Brands &nbsp; <i class="fa fa-angle-right"></i
            ></a>
            <div class="flyout-inner">
              <div class="inner-categs">
                <p>Processor by Brands</p>
                <ul class="animated fadeIn">
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">Computer</a></li>
                  <li><a href="#">Watch</a></li>
                </ul>
              </div>
              <div class="featured-p">
                <p>Popular Product</p>
                <img src="/assets/images/memory.png" alt="" class="p-img" />
                <p class="p-title">
                  WD8000A4NC - Western Digital Sharespace 8TB External Network
                  Drive (Refurbished)
                </p>
                <a href="#" class="cta-btn">Shop Now</a>
              </div>
            </div>
          </li>

          <li class="flyout-right">
            <a href="#"
              >Processor by Brands &nbsp; <i class="fa fa-angle-right"></i
            ></a>
            <div class="flyout-inner">
              <div class="inner-categs">
                <p>Processor by Brands</p>
                <ul class="animated fadeIn">
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">Computer</a></li>
                  <li><a href="#">Watch</a></li>
                </ul>
              </div>
              <div class="featured-p">
                <p>Popular Product</p>
                <img src="/assets/images/memory.png" alt="" class="p-img" />
                <p class="p-title">
                  WD8000A4NC - Western Digital Sharespace 8TB External Network
                  Drive (Refurbished)
                </p>
                <a href="#" class="cta-btn">Shop Now</a>
              </div>
            </div>
          </li>
        </ul>
      </li>

      <li class="drop-down">
        <a href="#">Processor &nbsp; <i class="fa fa-angle-down"></i></a>

        <ul class="drop-down-ul animated fadeIn">
          <li class="flyout-right">
            <a href="#"
              >Processor by Brands &nbsp; <i class="fa fa-angle-right"></i
            ></a>
            <div class="flyout-inner">
              <div class="inner-categs">
                <p>Processor by Brands</p>
                <ul class="animated fadeIn">
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">Computer</a></li>
                  <li><a href="#">Watch</a></li>
                </ul>
              </div>
              <div class="featured-p">
                <p>Popular Product</p>
                <img src="/assets/images/memory.png" alt="" class="p-img" />
                <p class="p-title">
                  WD8000A4NC - Western Digital Sharespace 8TB External Network
                  Drive (Refurbished)
                </p>
                <a href="#" class="cta-btn">Shop Now</a>
              </div>
            </div>
          </li>

          <li class="flyout-right">
            <a href="#"
              >Processor by Brands &nbsp; <i class="fa fa-angle-right"></i
            ></a>
            <div class="flyout-inner">
              <div class="inner-categs">
                <p>Processor by Brands</p>
                <ul class="animated fadeIn">
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">Computer</a></li>
                  <li><a href="#">Watch</a></li>
                </ul>
              </div>
              <div class="featured-p">
                <p>Popular Product</p>
                <img src="/assets/images/memory.png" alt="" class="p-img" />
                <p class="p-title">
                  WD8000A4NC - Western Digital Sharespace 8TB External Network
                  Drive (Refurbished)
                </p>
                <a href="#" class="cta-btn">Shop Now</a>
              </div>
            </div>
          </li>
        </ul>
      </li>

      <li class="drop-down">
        <a href="#">Hard Drive / SSD &nbsp; <i class="fa fa-angle-down"></i></a>

        <ul class="drop-down-ul animated fadeIn">
          <li class="flyout-right">
            <a href="#"
              >Processor by Brands &nbsp; <i class="fa fa-angle-right"></i
            ></a>
            <div class="flyout-inner">
              <div class="inner-categs">
                <p>Processor by Brands</p>
                <ul class="animated fadeIn">
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">Computer</a></li>
                  <li><a href="#">Watch</a></li>
                </ul>
              </div>
              <div class="featured-p">
                <p>Popular Product</p>
                <img src="/assets/images/memory.png" alt="" class="p-img" />
                <p class="p-title">
                  WD8000A4NC - Western Digital Sharespace 8TB External Network
                  Drive (Refurbished)
                </p>
                <a href="#" class="cta-btn">Shop Now</a>
              </div>
            </div>
          </li>

          <li class="flyout-right">
            <a href="#"
              >Processor by Brands &nbsp; <i class="fa fa-angle-right"></i
            ></a>
            <div class="flyout-inner">
              <div class="inner-categs">
                <p>Processor by Brands</p>
                <ul class="animated fadeIn">
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">Computer</a></li>
                  <li><a href="#">Watch</a></li>
                </ul>
              </div>
              <div class="featured-p">
                <p>Popular Product</p>
                <img src="/assets/images/memory.png" alt="" class="p-img" />
                <p class="p-title">
                  WD8000A4NC - Western Digital Sharespace 8TB External Network
                  Drive (Refurbished)
                </p>
                <a href="#" class="cta-btn">Shop Now</a>
              </div>
            </div>
          </li>
        </ul>
      </li>

      <li class="drop-down">
        <a href="#">Motherboard &nbsp; <i class="fa fa-angle-down"></i></a>

        <ul class="drop-down-ul animated fadeIn">
          <li class="flyout-left">
            <a href="#"
              ><i class="fa fa-angle-left"></i> &nbsp;Processor by Brands</a
            >
            <div class="flyout-inner">
              <div class="inner-categs">
                <p>Processor by Brands</p>
                <ul class="animated fadeIn">
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">Computer</a></li>
                  <li><a href="#">Watch</a></li>
                </ul>
              </div>
              <div class="featured-p">
                <p>Popular Product</p>
                <img src="/assets/images/memory.png" alt="" class="p-img" />
                <p class="p-title">
                  WD8000A4NC - Western Digital Sharespace 8TB External Network
                  Drive (Refurbished)
                </p>
                <a href="#" class="cta-btn">Shop Now</a>
              </div>
            </div>
          </li>

          <li class="flyout-left">
            <a href="#"
              ><i class="fa fa-angle-left"></i> &nbsp;Processor by Brands</a
            >
            <div class="flyout-inner">
              <div class="inner-categs">
                <p>Processor by Brands</p>
                <ul class="animated fadeIn">
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">Computer</a></li>
                  <li><a href="#">Watch</a></li>
                </ul>
              </div>
              <div class="featured-p">
                <p>Popular Product</p>
                <img src="/assets/images/memory.png" alt="" class="p-img" />
                <p class="p-title">
                  WD8000A4NC - Western Digital Sharespace 8TB External Network
                  Drive (Refurbished)
                </p>
                <a href="#" class="cta-btn">Shop Now</a>
              </div>
            </div>
          </li>
        </ul>
      </li>

      <li class="drop-down">
        <a href="#">Networking &nbsp; <i class="fa fa-angle-down"></i></a>

        <ul class="drop-down-ul animated fadeIn">
          <li class="flyout-left">
            <a href="#"
              ><i class="fa fa-angle-left"></i> &nbsp;Processor by Brands</a
            >
            <div class="flyout-inner">
              <div class="inner-categs">
                <p>Processor by Brands</p>
                <ul class="animated fadeIn">
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">Computer</a></li>
                  <li><a href="#">Watch</a></li>
                </ul>
              </div>
              <div class="featured-p">
                <p>Popular Product</p>
                <img src="/assets/images/memory.png" alt="" class="p-img" />
                <p class="p-title">
                  WD8000A4NC - Western Digital Sharespace 8TB External Network
                  Drive (Refurbished)
                </p>
                <a href="#" class="cta-btn">Shop Now</a>
              </div>
            </div>
          </li>

          <li class="flyout-left">
            <a href="#"
              ><i class="fa fa-angle-left"></i> &nbsp;Processor by Brands</a
            >
            <div class="flyout-inner">
              <div class="inner-categs">
                <p>Processor by Brands</p>
                <ul class="animated fadeIn">
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">Computer</a></li>
                  <li><a href="#">Watch</a></li>
                </ul>
              </div>
              <div class="featured-p">
                <p>Popular Product</p>
                <img src="/assets/images/memory.png" alt="" class="p-img" />
                <p class="p-title">
                  WD8000A4NC - Western Digital Sharespace 8TB External Network
                  Drive (Refurbished)
                </p>
                <a href="#" class="cta-btn">Shop Now</a>
              </div>
            </div>
          </li>
        </ul>
      </li>

      <li class="drop-down">
        <a href="#">Power Supplies &nbsp; <i class="fa fa-angle-down"></i></a>

        <ul class="drop-down-ul animated fadeIn">
          <li class="flyout-left">
            <a href="#"
              ><i class="fa fa-angle-left"></i> &nbsp;Processor by Brands</a
            >
            <div class="flyout-inner">
              <div class="inner-categs">
                <p>Processor by Brands</p>
                <ul class="animated fadeIn">
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">Computer</a></li>
                  <li><a href="#">Watch</a></li>
                </ul>
              </div>
              <div class="featured-p">
                <p>Popular Product</p>
                <img src="/assets/images/memory.png" alt="" class="p-img" />
                <p class="p-title">
                  WD8000A4NC - Western Digital Sharespace 8TB External Network
                  Drive (Refurbished)
                </p>
                <a href="#" class="cta-btn">Shop Now</a>
              </div>
            </div>
          </li>

          <li class="flyout-left">
            <a href="#"
              ><i class="fa fa-angle-left"></i> &nbsp;Processor by Brands</a
            >
            <div class="flyout-inner">
              <div class="inner-categs">
                <p>Processor by Brands</p>
                <ul class="animated fadeIn">
                  <li><a href="#">Mobile</a></li>
                  <li><a href="#">Computer</a></li>
                  <li><a href="#">Watch</a></li>
                </ul>
              </div>
              <div class="featured-p">
                <p>Popular Product</p>
                <img src="/assets/images/memory.png" alt="" class="p-img" />
                <p class="p-title">
                  WD8000A4NC - Western Digital Sharespace 8TB External Network
                  Drive (Refurbished)
                </p>
                <a href="#" class="cta-btn">Shop Now</a>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
