:host .main-ctn {
  background-color: #f9f9f9;
}

.main-ctn .featured-ctn {
  padding-top: 30px;
  padding-bottom: 50px;
}

.main-ctn .featured-ctn h2 {
  margin-bottom: 20px;
}

.main-ctn .featured-ctn .featured-ctn-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.main-ctn .featured-ctn .featured-ctn-inner .featuresbox {
  background-color: white;
  padding: 0.5rem 0.5rem;
  text-align: center;
  height: 18rem;
  width: 15rem;
  box-shadow: 13px 13px 12px #efefef;
  transition: all 0.3s ease-in-out;
}

.main-ctn .featured-ctn .featured-ctn-inner .featuresbox:hover {
  box-shadow: none;
}

.main-ctn .featured-ctn .featured-ctn-inner .featuresbox h4 {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 0px;
  font-weight: normal;
  font-size: 18px;
}

.main-ctn .featured-ctn .featured-ctn-inner .featuresbox ul {
  list-style: none;
  padding: 0px;
}

.main-ctn .featured-ctn .featured-ctn-inner .featuresbox ul li {
  color: var(--link-color);
  margin-top: 0.2rem;
}
.main-ctn .featured-ctn .featured-ctn-inner .featuresbox ul li a {
  color: var(--link-color);
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 14px;
}

.main-ctn .featured-ctn .featured-ctn-inner .featuresbox ul li a:hover {
  color: var(--primary);
}

.main-ctn .featured-ctn .featured-ctn-inner .featuresbox img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

@media (max-width: 480px) {
  .main-ctn .featured-ctn .featured-ctn-inner {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .main-ctn .featured-ctn .featured-ctn-inner > * {
    flex: 0 0 47%;
  }

  .main-ctn .featured-ctn .featured-ctn-inner .featuresbox {
    height: 17rem;
    width: auto;
  }
}
