<div class="main-ctn">
  <div class="featured-ctn home-container">
    <h2>Featured Categories</h2>

    <div class="featured-ctn-inner">
      <div class="featuresbox">
        <img src="/assets/images/Harddrive.png" alt="" />
        <h4>Hard Drive</h4>

        <ul>
          <li><a href="#">Server Hard Drive</a></li>
          <li><a href="#">Laptop Hard Drive</a></li>
          <li><a href="#">Desktop Hard Drive</a></li>
        </ul>
      </div>
      <div class="featuresbox">
        <img src="/assets/images/svr_hdd_1_1.png" alt="" />
        <h4>Solid State Drives</h4>

        <ul>
          <li><a href="#">M.2 SSDs</a></li>
          <li><a href="#">SATA SSDs</a></li>
          <li><a href="#">SAS SSDs</a></li>
        </ul>
      </div>

      <div class="featuresbox">
        <img src="/assets/images/best-ssd.png" alt="" />
        <h4>Memory</h4>

        <ul>
          <li><a href="#">Server Memory</a></li>
          <li><a href="#">Laptop Memory</a></li>
          <li><a href="#">Desktop Memory</a></li>
        </ul>
      </div>
      <div class="featuresbox">
        <img src="/assets/images/CPU.png" alt="" />
        <h4>Processors</h4>

        <ul>
          <li><a href="#">Intel Processor</a></li>
          <li><a href="#">Open-boxed Processor</a></li>
          <li><a href="#">IBM Processor</a></li>
        </ul>
      </div>
      <div class="featuresbox">
        <img src="/assets/images/Powersupply.png" alt="" />
        <h4>Power Supplies</h4>

        <ul>
          <li><a href="#">ATX Power Supplies</a></li>
          <li><a href="#">Stackable Power Supplies</a></li>
          <li><a href="#">External Power Supplies</a></li>
        </ul>
      </div>
      <div class="featuresbox">
        <img src="/assets/images/Motherboard.png" alt="" />
        <h4>Motherboards</h4>

        <ul>
          <li><a href="#">Server Motherboards</a></li>
          <li><a href="#">Laptop Motherboards</a></li>
          <li><a href="#">Desktop Motherboards</a></li>
        </ul>
      </div>
      <div class="featuresbox">
        <img src="/assets/images/GS1900-48HPv2.png" alt="" />
        <h4>Networking</h4>

        <ul>
          <li><a href="#">Switches</a></li>
          <li><a href="#">Routers</a></li>
          <li><a href="#">Transceivers</a></li>
        </ul>
      </div>
      <div class="featuresbox">
        <img src="/assets/images/GV-N1660OC-6GD.png" alt="" />
        <h4>Video Cards</h4>

        <ul>
          <li><a href="#">PCI Card</a></li>
          <li><a href="#">VGA Card</a></li>
          <li><a href="#">Express Card</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
