<div class="top-categories">
  <p class="entry-text">Storage devices are any kind of computing hardware used for storing or extracting objects and data files. Storage devices can store information both permanently and temporarily. These devices can be external or internal, server or computing devices. You can get data storage devices in different forms. For example, a normal computer system has several storage devices counting hard disk, cache, and RAM.</p>

  <div class="category-box">
    <div class="single-category">
      <div class="image-box">
        <img src="/assets/images/harddisk.png" alt="">
      </div>
      <h2>SSD Hard</h2>
    </div>
    <div class="single-category">
      <div class="image-box">
        <img src="/assets/images/harddisk.png" alt="">
      </div>
      <h2>SSD Hard</h2>
    </div>
    <div class="single-category">
      <div class="image-box">
        <img src="/assets/images/harddisk.png" alt="">
      </div>
      <h2>SSD Hard</h2>
    </div>
    <div class="single-category">
      <div class="image-box">
        <img src="/assets/images/harddisk.png" alt="">
      </div>
      <h2>SSD Hard</h2>
    </div>
    <div class="single-category">
      <div class="image-box">
        <img src="/assets/images/harddisk.png" alt="">
      </div>
      <h2>SSD Hard</h2>
    </div>
    <div class="single-category">
      <div class="image-box">
        <img src="/assets/images/harddisk.png" alt="">
      </div>
      <h2>SSD Hard</h2>
    </div>
    <div class="single-category">
      <div class="image-box">
        <img src="/assets/images/harddisk.png" alt="">
      </div>
      <h2>SSD Hard</h2>
    </div>
    <div class="single-category">
      <div class="image-box">
        <img src="/assets/images/harddisk.png" alt="">
      </div>
      <h2>SSD Hard</h2>
    </div>
  </div>
</div>