<div class="featured-products home-container">
  <h2>Featured Products</h2>

  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Hard Disk</a>
      <ng-template ngbNavContent>
        <swiper [config]="config" class="featured-swiper">
          <ng-template swiperSlide>
            <!-- This is the first slide with 1 big product card, 6 small product cards -->
            <div class="slider slide1">
              <div class="first-prod">
                <a href="#" class="p-card-parent">
                  <div class="p-card p-card-first">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <p class="p-price">$229.99</p>
                    <p class="disc-price">$309.99</p>
                    <p class="p-label">Free Shipping</p>
                    <div class="p-img">
                      <img src="/assets/images/harddisk.png" alt="" />
                    </div>
                  </div>
                </a>
              </div>
              <div class="all-prod">
                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <!-- This is normal slide without big product card -->
            <div class="slider slide">
              <div class="all-prod">
                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </ng-template>
        </swiper>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Memory</a>
      <ng-template ngbNavContent>
        <swiper [config]="config" class="featured-swiper">
          <ng-template swiperSlide>
            <!-- This is the first slide with 1 big product card, 6 small product cards -->
            <div class="slider slide1">
              <div class="first-prod">
                <a href="#" class="p-card-parent">
                  <div class="p-card p-card-first">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <p class="p-price">$229.99</p>
                    <p class="disc-price">$309.99</p>
                    <p class="p-label">Free Shipping</p>
                    <div class="p-img">
                      <img src="/assets/images/harddisk.png" alt="" />
                    </div>
                  </div>
                </a>
              </div>
              <div class="all-prod">
                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <!-- This is normal slide without big product card -->
            <div class="slider slide">
              <div class="all-prod">
                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </ng-template>
        </swiper>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Processor</a>
      <ng-template ngbNavContent>
        <swiper [config]="config" class="featured-swiper">
          <ng-template swiperSlide>
            <!-- This is the first slide with 1 big product card, 6 small product cards -->
            <div class="slider slide1">
              <div class="first-prod">
                <a href="#" class="p-card-parent">
                  <div class="p-card p-card-first">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <p class="p-price">$229.99</p>
                    <p class="disc-price">$309.99</p>
                    <p class="p-label">Free Shipping</p>
                    <div class="p-img">
                      <img src="/assets/images/harddisk.png" alt="" />
                    </div>
                  </div>
                </a>
              </div>
              <div class="all-prod">
                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <!-- This is normal slide without big product card -->
            <div class="slider slide">
              <div class="all-prod">
                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>

                <a href="#" class="p-card-parent">
                  <div class="p-card">
                    <h3 class="p-title">
                      WD8000A4NC - Western Digital Sharespace 8TB External
                      Network Drive (Refurbished)
                    </h3>
                    <div class="p-details">
                      <div class="p-pricing">
                        <p class="p-price">$229.99</p>
                        <p class="disc-price">$309.99</p>
                        <p class="p-label">Free Shipping</p>
                      </div>
                      <div class="p-img">
                        <img src="/assets/images/harddisk.png" alt="" />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </ng-template>
        </swiper>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
