<div class="featured-products home-container">
  <h2>Featured Products</h2>

  <!-- Angular Bootstrap Tabs for categories -->
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Hard Disk</a>
      <ng-template ngbNavContent>
        <!-- Swiper slider starts here -->
        <swiper [config]="config" class="featured-swiper">
          <ng-template swiperSlide>
            <!-- This is the first slide with 1 big product card, 6 small product cards -->
            <div class="slider slide1">
              <div class="first-prod">
                <a href="#" class="p-card-parent">
                  <app-first-product-card-slider></app-first-product-card-slider> 
                </a>
              </div>
              <div class="all-prod">
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
              </div>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <!-- This is normal slide without big product card -->
            <div class="slider slide">
              <div class="all-prod">
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>  
                
              </div>
            </div>
          </ng-template>
        </swiper>
        <!-- Swiper Slider ends here -->
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Memory</a>
      <ng-template ngbNavContent>
        <swiper [config]="config" class="featured-swiper">
          <ng-template swiperSlide>
            <!-- This is the first slide with 1 big product card, 6 small product cards -->
            <div class="slider slide1">
              <div class="first-prod">
                <a href="#" class="p-card-parent">
                  <app-first-product-card-slider></app-first-product-card-slider> 
                </a>
              </div>
              <div class="all-prod">
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
              </div>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <!-- This is normal slide without big product card -->
            <div class="slider slide">
              <div class="all-prod">
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>  
                
              </div>
            </div>
          </ng-template>
        </swiper>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Processor</a>
      <ng-template ngbNavContent>
        <swiper [config]="config" class="featured-swiper">
          <ng-template swiperSlide>
            <!-- This is the first slide with 1 big product card, 6 small product cards -->
            <div class="slider slide1">
              <div class="first-prod">
                <a href="#" class="p-card-parent">
                  <app-first-product-card-slider></app-first-product-card-slider> 
                </a>
              </div>
              <div class="all-prod">
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
              </div>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <!-- This is normal slide without big product card -->
            <div class="slider slide">
              <div class="all-prod">
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>
                <a href="#" class="p-card-parent">
                  <app-product-card-slider></app-product-card-slider>
                </a>  
                
              </div>
            </div>
          </ng-template>
        </swiper>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
