<div class="features-brand-ctn home-container">
  <div class="features-brand-ctn-inner">
    <h2>Featured Brands</h2>

    <div class="features-brand-slider">
      <swiper [config]="config" class="my-swiper">
        <ng-template swiperSlide>
          <img src="/assets/images/acer.png" />
        </ng-template>

        <ng-template swiperSlide>
          <img src="/assets/images/adobe-brand-logo-c-.png" />
        </ng-template>
        <ng-template>
          <img src="/assets/images/apple-brand-logo-c.png" />
        </ng-template>
        <ng-template swiperSlide>
          <img src="/assets/images/hp-brand-logo-c.png" />
        </ng-template>
        <ng-template swiperSlide>
          <img src="/assets/images/lenovo-brand-logo-4c.png" />
        </ng-template>
        <ng-template swiperSlide>
          <img src="/assets/images/logo2.png" />
        </ng-template>
        <ng-template swiperSlide>
          <img src="/assets/images/logo5.png" />
        </ng-template>
        <ng-template swiperSlide>
          <img src="/assets/images/microsoft-brand-logo-4c.png" />
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
