<div class="main-ctn home-container">
  <div class="main-ctn-inner">
    <div class="first">
      <div >
        <h2>Dell Server Systems</h2>
        <a href="#">Shop Now</a>
      </div>
      <div>
        <img src="/assets/images/dell.png" alt="" />
      </div>
    </div>

    <div class="second">
      <div >
        <h2>HP Server Systems</h2>

        <a href="#">Shop Now</a>
      </div>
      <div>
        <img src="/assets/images/hp.png" alt="" />
      </div>
    </div>
  </div>
</div>
