<div class="home-container category-container">
  <div class="filters-tab">
    <h2 class="tab-heading">Filter</h2>
    <app-filter-checkbox></app-filter-checkbox>
    <app-filter-multi-select></app-filter-multi-select>
    <app-filter-simple-select></app-filter-simple-select>
    <app-filter-text-input></app-filter-text-input>
    <app-filter-slider></app-filter-slider>
  </div>
  <div class="main-tab">
    <h2 class="tab-heading">Storage Device</h2>
    <app-top-categories> </app-top-categories>

    <h2 class="tab-heading">All Products</h2>
    <app-product-list> </app-product-list>

    <h2 class="tab-heading">Featured Brands</h2>
    <app-top-brands></app-top-brands>
  </div>
</div>
