<footer class="footer home-container">
  <div class="form-row footer-row">
    <div><h5>Get the latest updates</h5></div>
    <div class="form">
      <form action="#" id="subscribe-form">
        <input
          type="text"
          id="sub-email"
          name="email"
          placeholder="Enter Email"
        />
        <input type="submit" class="cta-btn" value="Subscribe" />
      </form>
    </div>
  </div>

  <div class="second-row footer-row">
    <div class="categories footer-col">
      <h6>Categories</h6>
      <ul>
        <li><a href="#">Hard Drive</a></li>
        <li><a href="#">CPU</a></li>
        <li><a href="#">Memory Card</a></li>
        <li><a href="#">Graphic Card</a></li>
        <li><a href="#">Motherboard</a></li>
        <li><a href="#">Power Supplies</a></li>
      </ul>
    </div>
    <div class="categories footer-col">
      <h6>My Account</h6>
      <ul>
        <li><a href="#">Hard Drive</a></li>
        <li><a href="#">CPU</a></li>
        <li><a href="#">Memory Card</a></li>
        <li><a href="#">Graphic Card</a></li>
        <li><a href="#">Motherboard</a></li>
        <li><a href="#">Power Supplies</a></li>
      </ul>
    </div>
    <div class="categories footer-col">
      <h6>Customer Services</h6>
      <ul>
        <li><a href="#">Hard Drive</a></li>
        <li><a href="#">CPU</a></li>
        <li><a href="#">Memory Card</a></li>
        <li><a href="#">Graphic Card</a></li>
        <li><a href="#">Motherboard</a></li>
        <li><a href="#">Power Supplies</a></li>
      </ul>
    </div>
    <div class="categories footer-col">
      <h6>Contact Us</h6>
      <div class="help-line">
        Help Line:
        <br />
        <a href="tel:(866) 705-5346">(866) 705-5346</a>
        <div class="social-icons">
          <a href="#!"><img src="/assets/images/insta.svg" /></a>
          <a href="#!"><img src="/assets/images/fb.svg" /></a>
          <a href="#!"><img src="/assets/images/tw.svg" /></a>
        </div>
      </div>
      <h6>Address</h6>
      <p>
        45300 Industrial Place, Suite 16,
        <br />
        Fremont, CA 94538
      </p>
    </div>
  </div>

  <div class="third-row">
    <h6>Quick Links</h6>
    <a href="#">About Us</a>
    <a href="#">Services</a>
    <a href="#">Product Line</a>
    <a href="#">Product Catalog</a>
    <a href="#">Career at HDD</a>
    <a href="#">Contact Us</a>
    <a href="#">Affiliate Program</a>
  </div>

  <div class="fourth-row">
    <img src="/assets/images/shopper_approved_icon.png">
    <img src="/assets/images/mcafee_icon.png"> 
    <img src="/assets/images/payment_icons.png"> 
    <img src="/assets/images/footer-serving-banner.png"> 
  </div>

  <div class="footer-bottom">
    Copyrights @2002-2020 | Harddiskdirect Ltd. | All Rights Reserved
  </div>
</footer>
