<app-hero-slider></app-hero-slider>
<app-product-finder></app-product-finder>
<app-featured-products></app-featured-products>
<app-industries-section></app-industries-section>
<app-deals-of-week></app-deals-of-week>
<app-featured-categories></app-featured-categories>
<app-buy-now-cta></app-buy-now-cta>
<app-image-with-text></app-image-with-text>
<app-blog-section></app-blog-section>
<app-full-image-cta></app-full-image-cta>
<app-case-studies></app-case-studies>
<app-reviews-slider></app-reviews-slider>
<app-brands-slider></app-brands-slider>