<div class="blogs">
  <div class="blogs-ctn home-container">
    <h2>Discover</h2>

    <div class="blogs-ctn-inside">
      <a href="#!">
        <div class="blog-single">
          <img src="assets/images/blogimg.jpg" />
          <h5 class="blog-title">Revolution of Computers</h5>
          <p class="blog-excerpt">
            It is a long established fact that a re will be distracted by the
            readable c of a page when looking at its layout.
          </p>
          <p class="blog-meta">12/03/2022</p>
        </div>
      </a>
      <a href="#!">
        <div class="blog-single">
          <img src="assets/images/blogimg.jpg" />
          <h5 class="blog-title">Revolution of Computers</h5>
          <p class="blog-excerpt">
            It is a long established fact that a re will be distracted by the
            readable c of a page when looking at its layout.
          </p>
          <p class="blog-meta">12/03/2022</p>
        </div>
      </a>
      <a href="#!">
        <div class="blog-single">
          <img src="assets/images/blogimg.jpg" />
          <h5 class="blog-title">Revolution of Computers</h5>
          <p class="blog-excerpt">
            It is a long established fact that a re will be distracted by the
            readable c of a page when looking at its layout.
          </p>
          <p class="blog-meta">12/03/2022</p>
        </div>
      </a>
      <a href="#!">
        <div class="blog-single">
          <img src="assets/images/blogimg.jpg" />
          <h5 class="blog-title">Revolution of Computers</h5>
          <p class="blog-excerpt">
            It is a long established fact that a re will be distracted by the
            readable c of a page when looking at its layout.
          </p>
          <p class="blog-meta">12/03/2022</p>
        </div>
      </a>
      <a href="#!">
        <div class="blog-single">
          <img src="assets/images/blogimg.jpg" />
          <h5 class="blog-title">Revolution of Computers</h5>
          <p class="blog-excerpt">
            It is a long established fact that a re will be distracted by the
            readable c of a page when looking at its layout.
          </p>
          <p class="blog-meta">12/03/2022</p>
        </div>
      </a>
    </div>
  </div>
</div>
