<div class="top-brands">
  <div class="brands-box">
    <div class="single-brand">
      <img src="/assets/images/acer.png" alt="">
    </div>
    <div class="single-brand">
      <img src="/assets/images/acer.png" alt="">
    </div>
    <div class="single-brand">
      <img src="/assets/images/acer.png" alt="">
    </div>
    <div class="single-brand">
      <img src="/assets/images/acer.png" alt="">
    </div>
    <div class="single-brand">
      <img src="/assets/images/acer.png" alt="">
    </div>
    <div class="single-brand">
      <img src="/assets/images/acer.png" alt="">
    </div>
    <div class="single-brand">
      <img src="/assets/images/acer.png" alt="">
    </div>
    <div class="single-brand">
      <img src="/assets/images/acer.png" alt="">
    </div>
    <div class="single-brand">
      <img src="/assets/images/acer.png" alt="">
    </div>
    <div class="single-brand">
      <img src="/assets/images/acer.png" alt="">
    </div>
  </div>
</div>