<div class="industries">
  <div class="industries-ctn home-container">
    <h2>Industries</h2>

    <div class="industries-ctn-inside">
      <a href="#!">
        <div class="indusbox">
          <img src="assets/images/bag.svg" />
          <p>Enterprice Business</p>
        </div>
      </a>
      <a href="#!">
        <div class="indusbox">
          <img src="assets/images/build.svg" alt="" />
          <p>SME</p>
        </div>
      </a>
      <a href="#!">
        <div class="indusbox">
          <img src="assets/images/health.svg" alt="" />
          <p>Healthcare</p>
        </div>
      </a>
      <a href="#!">
        <div class="indusbox">
          <img src="assets/images/menuf.png" alt="" />
          <p>Manufacturing</p>
        </div>
      </a>
      <a href="#!">
        <div class="indusbox">
          <img src="assets/images/retail.png" alt="" />
          <p>Retail</p>
        </div>
      </a>
      <a href="#!">
        <div class="indusbox">
          <img src="assets/images/fg.png" alt="" />
          <p>Federal governemnt</p>
        </div>
      </a>
      <a href="#!">
        <div class="indusbox">
          <img src="assets/images/finance.png" alt="" />
          <p>Finance</p>
        </div>
      </a>
      <a href="#!">
        <div class="indusbox">
          <img src="assets/images/edu.png" alt="" />
          <p>Higher Education</p>
        </div>
      </a>
    </div>
  </div>
</div>
