<div class="account-ctn home-container">
  <div class="account-ctn-inner">
    <div class="account-left">
      <h2>
        Simplify procurement with a Connection account that offers access to:
      </h2>

      <ul>
        <li>Advanced Reporting</li>
        <li>Personalized Shopping</li>
        <li>Purchasing Approvals</li>
        <li>System Integration</li>
        <li>Special Pricing</li>
        <li>Dedicated Account Team</li>
      </ul>
    </div>

    <div class="account-right">
      <a href="#"  class="cta-btn white">Create Account</a>
      <a  href="#" class="cta-btn">View Account Benefits</a>
    </div>
  </div>
</div>
