<div class="ctn">
  <div class="ctn-inside home-container">
    <div class="deals-section">
      <div class="deal-left-section">
        <h2>Deals of the Week</h2>

        <h2>Finding the Best Deals with Hard disk direct</h2>
      </div>
      <div class="deal-right-section">
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum.
        </p>

        <a href="#!" class="cta-btn">Shop Now</a>
      </div>
    </div>
  </div>
</div>
