.product-single-card {
  padding: 1rem;
  display: flex ;
  flex-direction: row;
  background-color: #F5F5F5;
}

.product-single-card .p-img, .product-single-card .p-pricing{
  flex-basis: 25%;
}

.product-single-card .p-details{
  flex-basis: 50%;
}

.product-single-card .p-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0px;
  text-align: left;
  height: 70px;
  overflow: hidden;
}

.product-single-card .p-price {
  font-weight: bold;
  font-size: 18px;
  color: var(--secondary);
  margin: 0;
  text-align: right;
}
.product-single-card .p-pric{
  display: flex;
}

.product-single-card .p-pric .stock-text{
  color: var(--primary);
}
.product-single-card .p-pric > *{
  flex-basis: 50%;
}
.product-single-card .disc-price {
  font-weight: normal;
  font-size: 12px;
  text-decoration: line-through;
  margin: 0rem;
}
.product-single-card .disc-price.item-no{
  text-decoration: none;
}
.product-single-card .p-label:nth-child(1) {
  font-weight: normal;
  font-size: 14px;
  color: #ff7133;
}
.product-single-card .p-label {
  color: var(--primary);
  font-weight: normal;
  font-size: 14px;
}

.product-single-card .p-img {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  align-items: center;

}

.product-single-card .p-img img {
  width: 60%;
  height: 100px;
  object-fit: contain;
}

.product-single-card-first {
  height: 100%;
}

.product-single-card .p-details {
  display: flex;
  flex-direction: column;
}
.product-single-card .p-labels {
  display: flex;
  justify-content: space-between;
}

.p-meta-field{
  font-weight: bold;
  margin: 0;
}

.compare-list{
  text-align: center;
  margin-top: 5px;
}

.p-meta-field span{
  font-weight: normal;
}


.product-single-card .p-details .p-qv button {
  width: 100%;
  border: 0;
  padding: 7px 0px;
  background-color: #565656;
  color: white;
  transition: 0.3s ease all;
}

.product-single-card .p-details .p-qv button:hover {
  background-color: var(--primary);
}

.product-single-card .p-atc button {
  width: 100%;
  border: 0;
  padding: 7px 0px;
  background: var(--yellow);
  color: var(--black);
  transition: 0.3s ease all;
  font-weight: 500;
  border-radius: 0px;
}
.product-single-card .p-atc button:hover{
  background: var(--primary);
  color: white;
}

.p-qty {
  display: flex;
  align-items: center;
  margin: 15px 0px;
}
.p-qty label {
  flex-basis: 30%;
}
.p-qty button,
.p-qty input {
  font-size: 18px;
  font-weight: bold;
  color: black;
  border-radius: 0;
  border: 0;
}

.p-qty button {
  padding: 5px 10px;
  flex-basis: 20%;
}
.p-qty input {
  flex-basis: 40%;
  width: 40%;
  text-align: center;
}
.p-qty input:focus {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.p-modal .p-area {
  display: flex;
  gap: 1rem;
}
.p-modal .p-area .p-img {
  flex-basis: 40%;
}

.p-modal .p-desc {
  margin-top: 20px;
}

@media (max-width: 480px) {
  .product-single-card {
    padding: 0rem;
  }
  
  .product-single-card-first .p-img {
    text-align: left;
  }
  .product-single-card-first .p-img img {
    width: 50%;
  }

  .product-single-card .p-title {
    font-size: 16px;
  }

  .product-single-card .p-price {
    font-size: 16px;
  }

  .product-single-card .disc-price {
    font-size: 12px;
  }
  .product-single-card .p-label {
    font-size: 14px;
  }
  .product-single-card .p-details {
    display: flex;
    flex-direction: column;
  }
}
