<div class="product-finder-ctn home-container">
  <div class="product-finder-ctn-inner">
    <h2>Product Finder</h2>
    <p>
      It is a long established fact that a reader will by the readable content
      of a page
    </p>

    <form action="#" method="post">
      <select name="manufacturer" id="pf-manufacturer">
        <option value="volvo">System Manufacturer</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <select name="type" id="pf-type">
        <option value="volvo">Select System Type</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <select name="model" id="pf-model">
        <option value="volvo">Select Model</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <select name="series" id="pf-series">
        <option value="volvo">Select Series</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <button type="submit">Get it Now</button>
    </form>
  </div>

  <div class="services">
    <div class="service-box">
      <div>
        <img src="/assets/images/icons8-clock-50.png" alt="" srcset="" />
      </div>

      <div>
        <h5>Express Delivery</h5>
        <p>Within promised ETAs</p>
      </div>
    </div>

    <div class="service-box">
      <img src="/assets/images/icons8-free-shipping-50.png" alt="" srcset="" />

      <div>
        <h5>Free Shipping</h5>
        <p>Over orders worth $50</p>
      </div>
    </div>

    <div class="service-box">
      <img src="/assets/images/icons8-guarantee-50.png" alt="" srcset="" />

      <div>
        <h5>Quality assured</h5>
        <p>Matching global standards</p>
      </div>
    </div>
  </div>
</div>
