<div class="who-we-are-ctn home-container">
  <div class="who-we-are-inner">
    <div class="who-we-are-left-section"></div>

    <div class="who-we-are-right-section">
      <h2>Who We Are?</h2>
      <p>
        Hard Disk Direct (HDD) dates back its roots in IT Solutions and hardware
        to 2012. The venture started from computer memory upgradation and HDD
        has now broadened its horizons towards supporting a large and diverse
        computer hardware products database which is inclusive of hard drives,
        computer memory, power supplies, CPUs and other products and accessories
        for all major brands like Dell, HP, Lenovo, Apple, Acer, Cisco, Compaq,
        IBM, Epson, Hitachi and others.
      </p>

      <a href="#" class="cta-btn">Learn more</a>
    </div>
  </div>
</div>
