<div class="product-list">
  <div class="query-summary">
    <div class="items-summary">
      <p>Items 1-12 of 10000</p>
    </div>
    <div class="sortby-container">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text">Sort by: </label>
        </div>
        <select class="custom-select form-select">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="product-view">
      <button class="cta-btn"   (click)="toggleGrid()">List</button>
      <button class="cta-btn ms-2" (click)="toggleList()">Grid</button>
    </div>
  </div>

  <div class="product-cards " *ngIf="grid==true">
    <app-single-shop-product-card
      *ngFor="let item of prods | slice: (page - 1) * pageSize:page * pageSize"
    ></app-single-shop-product-card>

    <ngb-pagination
      [collectionSize]="12"
      [(page)]="page"
      [pageSize]="pageSize"
      aria-label="Default pagination"
    ></ngb-pagination>
  </div>

  <div class="product-list" *ngIf="grid==false">
    <app-product-accessories
      *ngFor="let item of prods | slice: (page - 1) * pageSize:page * pageSize"
    ></app-product-accessories>

    <ngb-pagination
      [collectionSize]="12"
      [(page)]="page"
      [pageSize]="pageSize"
      aria-label="Default pagination"
    ></ngb-pagination>
  </div>
</div>
